@model MVC2.Models.Student;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <h1>After passing object-</h1>
    <p>Your name is - @Model.Name</p>
    <p>You live in - @Model.Address</p>
}

